{% load staticfiles %}
<html>
        <head><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
              <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
              <link rel="stylesheet" href="{% static 'css/blog.css' %}">
              <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
               <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <title>
                    Django  blog
            </title>
        </head>
        <body>

             </div>
             <div class="page-header">
                  {% if user.is_authenticated %}
                     <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                       <li><a href="/auth/logout">logout ({{ username }})</a></li>
                  {% else %}
                            <li><a href="/auth/login">login</a></li>
                  {% endif %}
                 <h1><a href="/">Django Blog</a></h1>
             </div>
             <div class="content container">
                 <div class="row">
                 <div class="col-md-8">
                  {% block content %}
                  {% endblock %}
                     {% block login %}
                  {% endblock %}
                 </div>
                 </div>
             </div>
             <div class="large-3 large-offset-5 columns"> Oблако тегов:
                 {% for keyword in keywords %}
                     <a href="/keyword/{{ keyword.id }}">{{ keyword }}</a>
                     {% if not forloop.last %},{% endif %}
                 {% endfor %}
             </div>

        </body>
</html>