{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load i18n mptt_tags %}
{% load mptt_tags %}

{% block content %}
      {% for post in posts %}
        <div class="post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{% autoescape off %}{{ post.text|linebreaksbr }}{% endautoescape %}</p>
            <div>
            <p><a href="{% url 'addlike' pk=post.pk %}"><img src="{% static 'img/like.png' %}" width="25px" height="25px"></a> {{ post.likes }}</p>
              <p><a href="{% url 'adddislike' pk=post.pk %}"><img src="{% static 'img/dislike.jpeg' %}" width="25px" height="25px"></a> {{ post.dislikes }}</p>
                </div>
            <div class="date">
                {{ post.published_date }}
            </div>
        </div>
      {% endfor %}


    <div class="row">
        {% for post in posts %}
             {{ post.full_name|upper }}<br />
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
               {% if posts.has_previous %}
                   <a href="?page={{ posts.previous_page_number }}">previous</a>
               {% endif %}
               <span class="current">
                  Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
               </span>

               {% if posts.has_next %}
                   <a href="?page={{ posts.next_page_number }}">next</a>
               {% endif %}
            </span>
        </div>

    </div>
    <ul class="project-root">
       {% recursetree projects %}
        <li>
           <a href="/category/get/{{ node.id }}/" title="{% blocktrans with project=node %}Show all entries in {{ project }}{% endblocktrans %}">{{ node }}</a>
           {% if not node.is_leaf_rode %}
               <ul class="project-children project-{{ node.slug }}">
                   {{ children }}
               </ul>
           {% endif %}
        </li>
       {% endrecursetree %}
       {% if not project %}

       {% endif %}
    </ul>
{% endblock content %}